@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    box-sizing: 0; 
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald;
}

/* General */

.elemContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}


/*         Header        */
#header .navbar {
    display: flex;
    flex-direction: space-around;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}

#header .navbar .elemContainer {
    height: 80px;
}

#header .navbar .elemContainer #logo {
    padding: 0;
    margin: 0;
    font-size: 50px;
}

#header .navbar .elemContainer .utilities { 
    margin: auto 0 auto 0;
}

#header .navbar .elemContainer .utilities ul {
    display: flex;
    list-style: none;
    font-size: 25px;
    gap: 50px;
}

#header .navbar .elemContainer .utilities ul .magniGlass {
    width: 40px;
    height: 40px;
}

#header .navbar .elemContainer .utilities .searchBox {
    outline: none;
}


/*           Content           */
.divider { 
    width: 100%;
    height: 2px;
    background-color: grey;
}

#content { 
    width: 100%;
    height: fit-content;
}

#content .elemContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    color: black;
}

#content .elemContainer h1 {
    text-align: center;
    max-width: 50%;
    overflow-wrap: break-word;
}

#content .elemContainer .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

#content .elemContainer .categories h2 {
    font-size: 50px;
}

#content .elemContainer .categories .ctgr-container {
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 25px;
    margin: 20px;
}

#content .elemContainer .recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 10px;
}

#content .elemContainer .recommendation h2 {
    font-size: 50px;
}

#content .elemContainer .recommendation .recommended {
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 25px;
    margin: 20px;
}

#content .elemContainer .listContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
}

#content .elemContainer .listContainer .itemContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#content .elemContainer .listContainer .itemContainer .leftList {
    position: relative; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 55%;
    gap: 50px;
}

#content .elemContainer .listContainer .itemContainer .leftList .divider {
    opacity: 0.5;
}

#content .elemContainer .listContainer .itemContainer .leftList .listHead {
    position: absolute;
    top: -25px;
    left: 150px;
    font-size: 40px;
    font-weight: 700;
    background-color: white;
    padding: 0 120px 0 120px;
    margin: 10px;
}


#content .elemContainer .listContainer .itemContainer .rightList {
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    height: 700px;
    background-color: #ececec;
} 

#content .elemContainer .listContainer .itemContainer .rightList .listHead {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    width: 300px;
    height: 50px;
    background-color: black
}

#content .elemContainer .listContainer .itemContainer .rightList .listHead span {
    font-size: 25px;
    color: white;
}


#content .elemContainer .article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content .elemContainer .article span { 
    font-weight: 700;
    margin: 20px;
    font-size: 40px;
}

#content .elemContainer .article .details {
    display: flex;
    gap: 50px;
}

#content .elemContainer .article .details .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#content .elemContainer .article .details img {
    width: 50%;
    height: 50%;
}

#content .elemContainer .article .details .description span {
    margin: 5px;
    font-size: 35px;
}

#content .elemContainer .article .details .description p {
    font-size: 30px;
    line-height: 40px;
}


/*           Footer            */

#footer {
    position: inherit;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
}

#footer .elemContainer {
    display: flex;
    width: 90%;
}

#footer .elemContainer .left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    height: 100px;
    font-size: 25px;
    color: white;
    gap: 30px
}